<form [formGroup]="suchForm">
    <label>
        Suche:
        <input type="text" formControlName="freitext">
    </label>

    <select formControlName="filter">
        <option value="">Patients + Practitioners</option>
        <option value="">Patients</option>
        <option value="">Practitioners</option>
    </select>
</form>

<p *ngIf="!suchForm.valid">
    Fuer das Freitextfeld gelten folgende Regeln:

    1. Es sind alle Buchstaben erlaubt (außer Umlaute `ä ü ö`)
    2. Es sind alle Zahlen erlaubt
    3. Es sind keine Whitespaces erlaubt
    
    Anmerkung: ein leerer String ist erlaubt
</p>